$search-width: 20%;
$task-width: 50%;

html,
body,
main,
.wrapper,
.task-index {
	height: 100%;
}

.fa {
	cursor: pointer;
}


.nav-to-splash:hover,
.nav-to-splash:active,
.nav-to-splash:active,
.nav-to-splash:link, {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 0px;
	/* for vertical scrollbars */
	height: 12px;
	/* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
}

//modal 

.modal-open {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	
	.modal-body {
		input {
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 3px;
			width: 90%;
			padding: 10px;
		}
	}

	.modal-footer {
		display: flex;
		justify-content: space-between;
	}
}

// homepage 

.homepage {

	* {
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 10px 25px 10px 25px;
		font-family: bold;
	}

	.nav-to-splash {
		font-size: 30px;
	}

	.intro {
		display: flex;
		justify-content: space-around;
		height: 70vh;
		background-color: #db4c3f;
		background-image: url(http://res.cloudinary.com/dhsavotqt/image/upload/v1510691960/pictos_fm0stz.svg);
		background-position: center center;
		overflow: hidden;
		position: relative;
		display: block;
		
	}

	.intro-message-title,
	.intro-message-body {
		padding: 10px;
		color: white;
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
		margin-left: 20px;
	}

	.intro-message-title {
		font-size: 48px;
		line-height: 58px;
		font-weight: 200;
		letter-spacing: -1px;
		margin-top: 150px;
		margin-bottom: 10px;
	}

	.intro-message-body {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 50px;
	}

	.intro-demo-pic {
		width: 53%;
		position: absolute;
		top: 25%;
		right: 0%;
	}

	.feature {
		display: flex;
		justify-content: space-between;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 2%;
		padding-right: 5%;
		background-color: rgb(249, 249, 249);
	}

	.feature-img {
		width: 43%;
	}

	.feature-task-title {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
	}

	.feature-task-checkbox {
		width: 38px;
		padding-right: 8px;
		margin-bottom: -4px;
	}

	.feature-task-h3 {
		font-size: 36px;
		margin-bottom: 0px;
	}
}

//session-page 

.session-page {

	* {
		font-size: 20px;
		font-family: 'Montserrat',
		sans-serif;
	}

	display: grid;
	grid-template-areas: 
	"qd sf";

	.quote-div {
		grid-area: qd;
	}

	.session-form {
		grid-area: sf;
	}

	.nav-to-splash {
		font-size: 30px;
		position: absolute;
		top: 43px;
		left: 7vw;
	}

	.quote-div {
		* {
			color: white;
		}

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		width: 50vw;
		background-color: #db4c3f;
		background-image: url(http://res.cloudinary.com/dhsavotqt/image/upload/v1510691960/pictos_fm0stz.svg);
		background-position: center center;
	}

	.quote {
		sub {
			color: rgba(255, 255, 255, 0.9);
		}
	}

	.nav-to-splash,
	.quote,
	.quotes-curated {
		padding-left: 11vw;
	}

	.quote-body {
		font-size: 25px;
	}
	
	.quotes-curated {
		display: flex;
		align-items: center;
		margin-bottom: 79px;
	}

	.quotes-curated-img {
		width: 50px;
		height: 50px;
		overflow-y: hidden;
		border-radius: 50%;
		border:	3px solid white;
	}

	.quotes-curated-by {
		padding-left: 10px;
		font-size: 15px;
	}

	.session-form-box {
		display: flex;
		flex-direction: column;

		.session-form-input {
			border: 1px solid black;
			border-radius: 5px;
		}
	}
}

//task index 

.task-index {

	* {
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
	}

	display: grid;
	grid-template-areas:
		"header header header"
		"nav 		div 	 aside";
	grid-template-columns: $search-width $task-width 30%;
	grid-template-rows: 45px auto;

	background: url("https://static.wunderlist.com/a109ea4eb200b21e1b1f28cfecc27f3e41f0e6dd/images/backgrounds/1024/11.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	header {
		grid-area: header;
		background-color: rgb(51, 74, 133);
		display: flex;
		justify-content: space-between;
		height: 45px;

		form {
			display: flex;
			align-items: center;
			justify-content: center;
			width: $search-width;
			

			input {
				background-color: rgb(44,64,115);
				color: white;
				font-family: FontAwesome;
				height: 70%;
				width: 94%;
				padding-left: 10px;
				border-radius: 5px;
			}
		}

		.dropdown-toggle {
			background-color: transparent;
			border: none;
			color: white;
		}
		
		.dropdown-menu {
			text-align: center;
			left: -4px;
		}

	}

	nav {
		grid-area: nav;
		background-color: white;

		form,
		a {
			border: none;
			margin: 10px 0px 10px 5%;
		}

		ul {
			li {
				border: none;
				margin: 10px 0px 10px 0px;
			}

			.list-index-item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-right: 5%;

			}
		}
	}

	div	{
		grid-area: div; 
		margin-right: 8px;

		form {
			grid-area: form;
			.add-task-input {
				background-color: rgb(44, 64, 115);
				color: white;
				height: 70%;
				width: 100%;
				padding-left: 10px;
				border-radius: 5px;
				margin-top: 15px;
				margin-left: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			div {
				margin-right: 33px;
			}
		}

		.complete-incomplete-tab {
			display: flex;
			justify-content: flex-end;
			button {
				font-size: 15px;
				background-color: rgb(50, 78, 138);
				color: white;
				padding: 5px;
				border-radius: 5px;
				margin: 5px 0px 5px 5px;
			}
		}

		.tasks {
			margin-left: 15px;
			height: 80vh;
			overflow: auto;

			li {
				background-color: white;
				border: 1px solid black;
				border-radius: 5px;
			}
		}
	}

	.task {
		padding: 10px;

		input {
			margin-right: 10px;
		}

		.task-index-link {
			display: inline-block;
			width: 94%;
		}

		.task-due-date {
			font-size: 15px;
			float: right;
			padding-top: 3px;
		}
	}

	aside {
		grid-area: aside;
		background-color: white;

		form {
			margin: 15px;
		}
	}
	
	.list-summary {
		.aside-details {
			margin: 15px;

			div {
				display: flex;
				align-items: center;
			}
		}
	}

	.reward-label {
		float: left;
	}
	
	.reward-textarea {
		border: 1px solid rgba(0, 0, 0, 0.5);
		margin-left: 10px;
		padding: 5px;
	}

	.update-task {
		width: 100%;
		text-align: center;
	}

	.task-detail-footer {
		position: absolute;
		bottom: 10px;
		width: 27%;

		div {
			display: flex;
			justify-content: space-between;
		}
	}
	.task-detail-title {
		width: 100%;
	}
}


