* {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.homepage {
	background-color: #bfdce8;
	height: 100vh;
}

.login-signout {
	display: flex;
	justify-content: flex-end;
}

.btn-info {
	margin-right: 10%;
	margin-top: 25px;
	margin-bottom: 130px;
	padding: 6px 12px 6px;
	font-weight: 700;
	background-color: rgba(0, 96, 191, 0.1);
	border-color: transparent;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-decoration: none;
}

.session-form-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.session-form-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.session-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.session-form-input {
	width: 400px;
	height: 40px;
	padding-left: 10px;
	border-radius: 3px;
	border: 1px solid #ccc
}


.session-create-button, .input[type=submit], .session-delete-button {
	height: 36px;
	color: #ffffff;
	background:#49b3f4;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.session-create-button:hover, .input[type=submit]:hover, .session-delete-button:hover {
	background-color:#3ea3df;
}

.btn-info:hover {
	background-color: rgba(#0060bf, 0.15)
}

.nav-links {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.nav-title {
	display: inline-block;
	font-size: 37px;
	font-family: 'Architects Daughter', cursive;
	font-weight: bolder;
	margin-left: 5%;
	color: #000000;
}



.nav-login-logout {
	display: inline-block;
	margin-top: 13px;
	margin-right: 3%;
}

.nav-login-logout > a {
	color: black;
	text-decoration: none;
	margin: 3px;
}

.img {
  min-width: 100%;
}

.homepage-break-message {
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-family: 'Architects Daughter', cursive;
	font-weight: bolder;
}

.homepage-quote {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}

.homepage-quote > sub {
	font-family: 'Architects Daughter', cursive;
}


// task page
.task-index {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	grid-template-rows : 1fr 1fr 98fr;
	grid-template-areas:
	 	"header header header"
		"nav 		form 	 aside"
		"nav    ul     aside";

	background-image:url(https://www.pixelstalk.net/wp-content/uploads/2016/06/Free-Photos-Light-Blue-Backgrounds.jpg);

	header {
		grid-area: header;
	}

	nav {
		grid-area: nav;
	}

	form {
		grid-area: form;
	}

	ul {
		grid-area: ul;
		padding-left: 0px
	}

	aside {
		grid-area: aside;
	}

	li {
		background: #fff;
		list-style: none;
		height: 46px;
		border-radius: 3px;
		margin-bottom: 2px;
	}

	.task-index-link {
		text-decoration: none;
	}

	input {
		border: 1px	solid	black;
		border-radius: 3px;
	}
}
