* {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
}

.login-signout {
	display: flex;
	justify-content: flex-end;
}

.btn-info {
	margin-right: 10%;
	margin-top: 25px;
	margin-bottom: 130px;
	padding: 6px 12px 6px;
	font-weight: 700;
	background-color: rgba(0, 96, 191, 0.1);
	border-color: transparent;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-decoration: none;
}

.btn {
	margin-bottom: 0;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;

	line-height: 1.42857143;
	border-radius: 3px;
}

.session-form-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.session-form-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.session-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.session-form-input {
	width: 400px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #ccc
}

.session-create-button, .input[type=submit], .session-delete-button {
	height: 36px;
	color: #ffffff;
	background:#4bb8fb;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.session-links {
	display: flex;
	justify-content: flex-end;
}

.img {
  min-width: 100%;
}
