.btn-info {
	float:right;
	margin: 5px -2px 0 0;
	font-size: 15px;
	padding: 5px 11px 4px;
	font-weight: 700;
	background-color: rgba(0, 96, 191, 0.1);
	border-color: transparent;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-decoration: none;
}

.btn {
	margin-bottom: 0;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	border-radius: 3px;
}

.session-form-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.session-form-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.session-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.session-form-input {
	width: 400px;
	height: 40px;
	border-radius: 3px;
	font-size: 18px;
	border: 1px solid #ccc
}

.session-create-button {
	height: 36px;
	font-size: 18px;
	background:#009dff;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit] {
	height: 36px;
	font-size: 18px;
	background:#009dff;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
