.btn-info {
	float:right;
	margin: 43px -2px 0 0;
	font-size: 15px;
	padding: 5px 11px 4px;
	font-weight: 700;
	// font-family:
	background-color: rgba(0, 96, 191, 0.1);
	border-color: transparent;
	color: rgba(0, 0, 0, 0.5);
	display:inline-block;
	text-align: center;
}

.btn {
	display: inline-block; 
	margin-bottom: 0;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	border-radius: 3px;
	text-decoration: none;
}

.session-form {
	align-items: center;
}
