.btn-info {
	background-color: rgba(0, 96, 191, 0.1);
	border-color: transparent;
	color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
	// font-weight: bold;
	// padding: 7px 9px;
	// border-radius: 3px;
	// transition: background-color 0.3s;
	// text-transform: uppercase;

	// text-align: center;
}
